<app-header></app-header>
<div class="container">
    <h3>Lista de Usuarios</h3><br>

    <button type="button" class="btn btn-primary" (click)="nuevoUsuario()">Nuevo Usuario</button>
    <br>
    <table class="table table-hover">
        <caption>Listado de usuarios</caption>
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">IDENTIFICACION</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <th scope="col">{{usuario.id}}</th>
                <th scope="col">{{usuario.name}}</th>
                <th scope="col">{{usuario.document}}</th>
                <th scope="col" class="d-flex">
                    <button class="btn btn-outline-success" (click)="editarUsuario(usuario.id)">Editar</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-danger">Eliminar</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>
<app-footer></app-footer>