<app-header></app-header>

<div class="container">
    <h3>Registro de nuevo usuario</h3>
    <form [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm.value)">
        <div class=" form-group mt-2">
            <label for=" ">Nombre</label>
            <input type="text" class="form-control" placeholder="Nombre de usuario" formControlName="name">
        </div>
        <div class="form-group mt-2">
            <label for=" ">Numero de Identificación</label>
            <input type="number" class="form-control" formControlName="document">
        </div>
        <div class="form-group mt-2">
            <label for=" ">Seleccione un Estado</label>
            <select class="form-control" formControlName="state">
                <option value="1" [selected]="1 == 1">Activo</option>
                <option value="0" disabled>Inactivo</option>                
            </select>
        </div>
        <br><br>
        <div>
            <button type="submit " class="btn btn-primary ">Guardar</button> &nbsp;&nbsp;
            <button type="button " class="btn btn-secondary " (click)="goBack() ">Regresar</button>
        </div>

    </form>
</div>

<app-footer></app-footer>